body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 8rem;
}

h1 {
    border-bottom: 2px solid;
}

h1, form {
    max-width: 50vw;
    margin: 0 auto;
}

textarea {
    min-height: 4rem;
    width: 100%;
    padding: 1rem;
}
